DISCORD_BOT_TOKEN=replace-with-your-bot-token
DISCORD_COMMAND_CHANNEL_ID=0
DISCORD_COMMAND_PREFIX=!
VALHEIM_STATUS_URL=http://127.0.0.1:8765/players
VALHEIM_DISCORD_ALLOWED_USERS_FILE=/home/bear/valheim_server/BepInEx/config/discordconnect-allowed-users.txt
